<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary text-white">
  <a class="navbar-brand" href="#"
    ><img
      src="assets/blockchain.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    &nbsp;LedgerCoin</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <button *ngIf="!isUserLoggedIn()" class="btn btn-outline-primary" [routerLink]="['/register']">
      Register
      <span class="sr-only">(current)</span>
    </button>

    &nbsp;

    <button *ngIf="!isUserLoggedIn()" class="btn btn-outline-primary" [routerLink]="['/login']">
      Login
    </button>

    &nbsp;

    <button
      *ngIf="isUserLoggedIn()"
      class="btn btn-outline-primary"
      [routerLink]="['/user']"
    >
      User Profile
    </button>
    
    &nbsp;
    
    <button
      *ngIf="isUserLoggedIn()"
      class="btn btn-outline-primary"
      [routerLink]="['/userprofile']"
    >
      Blockchain
    </button>
    
    &nbsp;
    
    <button
      *ngIf="isUserLoggedIn()"
      class="btn btn-outline-primary"
      [routerLink]="['/cryptodata']"
    >
      Bitcoin Rates
    </button>
  </div>

  <div *ngIf="isUserLoggedIn()">
    <button
      routerLink="/new/transaction/pending"
      class="btn btn-outline-info"
      *ngIf="thereArePendingTransactions()"
    >
      Pending transactions
      <span class="badge badge-warning">{{
        blockchain.pendingTransactions.length
      }}</span>
    </button>
    &nbsp;
    <button routerLink="/settings" class="btn btn-outline-primary">
      Settings
    </button>
    &nbsp;
    <button routerLink="/new/transaction" class="btn btn-outline-primary">
      Create transaction
    </button>
  </div>
</nav>


<div class="container-fluid" >
   <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  <div class="row" >
    
      <router-outlet ></router-outlet>
    
  </div>
</div>

